<ul class="sidebar-menu">
       <li class="header">SA-Careers</li>
    <li class="treeview">
         <li><a href="/" title="SA Careers"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
         <li><a href="/about" title="About SA Careers"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>
         <li><a href="/contact" title="Contact SA Careers"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>
         <li><a href="/account" title="Accounts"><i class="glyphicon glyphicon-user"></i> <strong>Account</strong></a></li>
         <li><a href="/careers" title="Careers Portal"><i class="glyphicon glyphicon-blackboard"></i> <strong>Careers Portal</strong></a></li>
    </li>
 </ul>
